body {
    margin: 30px;
}

h1 {
    font-family: merriweather, 'Times New Roman', Times, serif;
}
h2 {
    font-family: merriweather, 'Times New Roman', Times, serif;
}

.my-row {
    height: fit-content;
    padding: 2%;
}

.my-col {
    padding: 1%;
    display: flex;
    justify-content: center;
}

.my-row1 {
    height: fit-content;
    padding: 5%;
    padding-top: 12%;
}

.my-row2 {
    height: fit-content;
    padding: 2%;
}

.my-col2 {
    padding: 1%;
    display: flex;
    justify-content: center;
    margin: 2%;
}


@media all (max-width: 600px) {

}
