body {
    margin: 30px;
}

h1 {
    font-family: merriweather, 'Times New Roman', Times, serif;
}
h2 {
    font-family: merriweather, 'Times New Roman', Times, serif;
}

.my-row {
    border: 3px solid pink;
    height: fit-content;
    padding: 2%;
}

.my-col {
    border: 3px solid lavender;
    padding: 1%;
}