nav {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: black;
    background-color: #EFE3D5;
}
.navItem {
    text-decoration-color: black;
}

h1 {
    padding: 2%;
    margin: 5%;
    font-family: Merriweather , 'Times New Roman', Times, serif;
}
.logo {
    display: block;
    align-content: center;
    justify-content: center;
    
}